.relatorio_contratante_body {
    margin: 0; 
    padding: 0;
  }

  .relatorio_contratante_main {
    padding: 3% 5% 0% 5%;
  }

  /*inicio esilo header*/
  header {
    background-color:#4169E1;
    width: 100%;
    height: 120px;
    bottom: 0;
    left: 0;
    display: flex;
    position: relative;
  }

  .subcontrol_head{
    width: 50%; padding-left: 5%;
  }

  .login_head {
    display: flex; 
    width: 50%; 
    justify-content: right; 
    align-items: center; 
    padding-right: 8%;
  }

  header div h1{
    color: white;
  }

  header div p {
    color: white;
  }

  .inicio{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
  }
  /*fim esilo header*/

  /*inicio estilo elementos tabela*/
  .relatorio_contratante_table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }

  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .tamanho_tabela_equipamentos {
    width: 32%;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  select{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
  }

  .area_texto_descricao {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
  }

  .botao_enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  /*fim estilo elementos tabela*/

  /*inicio estilo main*/
    main {
        margin-bottom: 50px;
    }
  /*inicio estilo main*/
  
  /*Inicio estilo footer*/
  .footer {
    background: #ffab62;
    width: 100%;
    height: 230px;
    position:relative;
    bottom: 0;
    left: 0;    
  }
  footer h3{
    color: white;
  }
  footer h4{
    color: white;
  }

  footer p {
    color: white
  }

  .div_principal_footer {
    display: flex; 
    flex-direction: column;
  }

  .div_info_footer {
    display: flex; 
    margin-left: 5%;
  }

  .div_contato {
    display: flex; 
    justify-content: left;  
    width: 15%; 
    flex-direction: column;
  }

  .margin_dois_px {
    margin-bottom: 2px;
  }

  .margin_oito_px{
    margin-bottom: 8px;
  }

  .margin_zero_px {
    margin: 0px;
  }

  .div_redes_sociais {
    display: flex; 
    justify-content: left;  
    width: 20%; 
    flex-direction: column;
  }

  .div_copywrite {
    display: flex; justify-content: center; align-items: center;
  }

  .redes{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
  }
  /*Fim estilo footer*/