@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family:'Android' ;
  src: url(fontes/idroid.otf);
}
:root {
  --cor00: #4169E1;
  --cor01:#87CEEB;
  --cor02:#001F3F;
  --cor03:#FFA500;
  --cor04:#FFDAB9;
  --cor05:#fee82c;
  --cor06:#12223c;
  --fonte0: Arial, Helvetica, sans-serif;
  --fonte1: 'Bebas Neue', cursive;
  --fonte2: 'Android', sans-serif;
  --size20: 20px;
  --size15: 15px;
  --size30: 30px;
}

*{
    margin: 0px;
    padding: 0px;
  }
  
  body{
    font-family:var(--fonte0) ;
    color: black;
    background-color:white ;
  }

/*tipo fontes*/

.size30 {
font-size: var(--size30);
}

.size20 {
font-size: var(--size20);
}

.size15 {
font-size: var(--size15);
}

/*inicio estilo header*/

nav{
    background: #acc6d0;
    height: 80px;
    width: 100%;
  }
  label.logo a{
    color: var(--cor02);
    font-size: var(--size35);
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #050c1d;
    font-size: var(--size17);
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a.active,a:hover{
    color: #d8a13e;
  }
  
  .checkbtn{
    font-size: var(--size30);
    color: #001F3F;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: var(--size30);
      padding-left: 50px;
    }
    nav ul li a{
      font-size: var(--size16);
    }
  }
  @media (max-width: 1021px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #ffffff;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: var(--size20);
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  
  /*fim estilo header*/

#container {
    /* margin: auto; */
    margin: auto auto 250px auto;
    width: 80%;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: var(--cor01);
}

.tab-btn:hover {
    background-color: var(--cor01);
}

.content {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content.show {
    display: flex;
    gap: 14px;
    background-color: var(--cor01);
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}

.content-img {
   width: 20%;
}

/*inicio estilo login*/
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin: 15px 0px 15px 0px;
  }
  
  .formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
    gap: 5px
  }
  
  .areaLogin img {
    width: 420px;
  }
  
  .formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
  }
  
  .formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
  }
  
  .formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
  }

  .formLogin select {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
  }  
  
  .formLogin input:focus {
    border: 1px solid var(--cor00);
  }
  
  .formLogin label {
    font-size: 14px;
    font-weight: 600;
  }
  
  .formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
  }
  
  .formLogin a:hover {
    color: var(--cor01);
  }
  
  .btn {
    background-color: var(--cor01);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
  
  }
  
  .btn:hover {
    transform: scale(1.05);
    background-color: var(--cor01);  
  }

  .btn-plus {
    background-color: var(--cor01);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;  
    width: 50px;
    height: 30px;
  }

  .btn-plus:hover {
    transform: scale(1.05);
    background-color: var(--cor01);  
  }

  .frase-add-substacao {
    font-size: 12px;
    color: orange;
  }

  /*fim estilo login*/

  /*inicio style footer*/
.container{
    max-width: 1170px;
    margin: auto;
  }
  .row{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: var(--cor06);
    padding: 70px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer-col{
   width: 25%;
   padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col li {
  color: white;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--cor02);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(153, 153, 153);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #333333;
    background-color: #ffffff;
  }
  .copyright-footer{
  background-color: #222222;
  padding:20px;
  color:#999999;
  position:fixed;
  bottom: 0;
  width: 100%;
  }

  .copyright-footer p {
    text-align: center;
  }
  
  /*responsive*/
  @media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
  }
  /*fim style footer*/

/* Inicio estilo Validação Campos Formulário */
/*Mensangem de sucesso*/
.msg_sucesso {
  background-color: rgb(203, 247, 203);
  padding: 15px;
}

/*Mensagem Error*/

/*inicio msg error cliente*/
#email-error {
  margin-top: -20px;
  color: red;
}

#end-error{
  margin-top: -20px;
  color: red;
}

#cnpj-error {
  margin-top: -20px;
  color: red;
}

#pass-error {
  margin-top: -20px;
  color: red;
}

#pass-error-conf {
  margin-top: -20px;
  color: red;
}
/*fim msg error cliente*/

/*inicio msg error rt*/
#email-error-rt {
  margin-top: -20px;
  color: red;
}

#nome-error {
  margin-top: -20px;
  color: red;
}

#sobrenome-error {
  margin-top: -20px;
  color: red;
}

#crea-error {
  margin-top: -20px;
  color: red;
}

#pass-error-rt {
  margin-top: -20px;
  color: red;
}

#pass-error-conf-rt {
  margin-top: -20px;
  color: red;
}
/*fim msg error rt*/

/*inicio msg error executante*/
#nome-exe-error{
  margin-top: -20px;
  color: red;
}

#sobrenome-exe-error {
  margin-top: -20px;
  color: red;
}

#email-exe-error {
  margin-top: -20px;
  color: red;
}

#crea-exe-error{
  margin-top: -20px;
  color: red;
}

#pass-exe-error{
  margin-top: -20px;
  color: red;
}

#pass-conf-exe-error{
  margin-top: -20px;
  color: red;
}
/*fim msg error executante*/

/*inicio msg error ordem serviço*/
#num-error-os{
  margin-top: -20px;
  color: red;
}

#empresa-error-os{
  margin-top: -20px;
  color: red;
}

#substacoes-error-os{
  margin-top: -20px;
  color: red;
}
/*fim msg error ordem serviço*/

/*Inicio msg error equipamentos*/
#nome-error-eq{
  margin-top: -20px;
  color: red;
}

#marca-error-eq{
  margin-top: -20px;
  color: red;
}

#modelo-error-eq{
  margin-top: -20px;
  color: red;
}
/*Fim msg error equipamentos*/

/* Fim estilo Validação Campos Formulário */
