/* estilos.css */

main{
    padding: 3% 5% 0% 5%;
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  
   /* Estilos gerais para todas as tabelas */
  
  table {
      width: 100%; /* Faz com que a tabela ocupe 100% da largura de main */
      border-collapse: collapse; /* Combina as bordas das células para uma aparência mais limpa */
      border: 1px solid #ddd; /* Adiciona uma borda fina em volta da tabela */
      margin-bottom: 20px; /* Adiciona espaço na parte inferior da tabela */
    }
    
    /* Estilos para as células (td)*/
    td {
      border: 1px solid #ddd; /* Adiciona uma borda fina em volta de células e cabeçalhos */
      padding: 8px; /* Adiciona preenchimento interno às células e cabeçalhos */
      text-align: left; /* Alinha o texto à esquerda */
    }
    
    /* Estilo para centralizar o conteúdo nas células das tabelas */
    .td-centralizado td{
        border: 1px solid #ddd; /* Adiciona uma borda fina em volta de células e cabeçalhos */
        padding: 8px; /* Adiciona preenchimento interno às células e cabeçalhos */
        text-align: center; /* Centraliza o conteúdo dentro das células */ 
    }

    /* Estilos alternados para linhas */
    tr:nth-child(even) {
      background-color: #f2f2f2; /* Adiciona uma cor de fundo alternada para linhas pares */
    }
  
    /* Centraliza o texto na primeira linha (cabeçalho) */
  tr:first-child td {
      text-align: center;
    }
  
   /* Estilo para o select ocupar toda a largura da célula da tabela */
  select{
    width: 100%;
    box-sizing: border-box; /* Garante que a largura inclui padding e borda */
    padding: 5px; /* Ajuste do espaçamento interno */
    /*margin-bottom: 100px;*/
  }
  
 /* Estilo para o input ocupar toda a largura da célula da tabela */

input {
    width: 100%;
    box-sizing: border-box; /* Garante que a largura inclui padding e borda */
    padding: 5px; /* Ajuste o espaçamento interno conforme necessário */
    margin: 0; /* Certifica-se de que não há margens externas */
  }

  /* Estilo para ocupar o espaço disponível */
  textarea {
    width: 100%;
    box-sizing: border-box; /* Garante que a largura inclua padding e borda */
}

/* Estilo específico para o input tipo submit */
input[type="submit"] {
    width: auto; /* Largura automática, ajustada ao conteúdo */
    box-sizing: content-box; /* Restaura o comportamento padrão de box-sizing para o input tipo submit */
    display: block; /* Torna o botão um bloco para centralizar */
    margin: 0 auto; /* Centraliza horizontalmente */
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
 }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
 }

 #equipamentos-select-modal {
  margin-bottom: 10px; /* Adiciona espaço abaixo da caixa de seleção */
}

#selecionar_equipamento {
  margin-top: 10px; /* Adiciona espaço acima do botão "Selecionar" */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo Padrão para os botões iniciar/finalizar */

#iniciar_manutencao,
#finalizar-manutencao-seccionadora{
  background-color: #001F3F;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px; 
}

/* Estilo Padrão para os botões cancelar */
#cancela-inicio-manutencao,
#cancela-manutencao-seccionadora {
  background-color: rgb(238, 234, 234);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px; 
}

/*Estilo para ação ao passar o mouse* botões iniciar/finalizar*/

#iniciar_manutencao:hover {
  background-color: whitesmoke;
  color: #001F3F;
}

#finalizar-manutencao-seccionadora:hover {
  background-color: whitesmoke;
  color: #001F3F;
}

/*Estilo para ação ao passar o mouse* botões cancelar*/

#cancela-inicio-manutencao:hover {
  background-color: #001F3F;
  color: whitesmoke;
}

#cancela-manutencao-seccionadora:hover{
  background-color: #001F3F;
  color: whitesmoke;
}

/* Padrão de posicionamento botões*/
.botoes{
  display: flex;
  justify-content: center; 
}

/*Estilo especial para o botão Iniciar Manutenção enquanto estiver desabilitado*/

#iniciar_manutencao[disabled]:hover {
  cursor: not-allowed; /* Muda o cursor para indicar que o botão não está disponível */
  position: relative; 
}

#iniciar_manutencao[disabled]:hover::before {
  content: "Digite um número válido de OS para iniciar"; /* Adiciona o texto da mensagem */
  position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color:#001F3F; */
    background-color:whitesmoke;
    color: red;
    padding: 5px 0; /* Ajuste na largura da mensagem para corresponder à largura do botão */
    width: 100%; /* Defina a largura da mensagem igual à largura do botão */
    height: 100%;
    text-align: center; /* Centraliza o texto horizontalmente */
    border-radius: 5px;
    z-index: 1;
    font-size: 12px;
}

/*Estilo especial para o botão Finalizar Manutenção Seccionadora enquanto estiver desabilitado*/

#finalizar-manutencao-seccionadora[disabled]:hover {
  cursor: not-allowed; /* Muda o cursor para indicar que o botão não está disponível */
  position: relative; 
}

#finalizar-manutencao-seccionadora[disabled]:hover::before {
  content: "Preencha todos os campos para finalizar"; /* Adiciona o texto da mensagem */
  position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color:#001F3F; */
    background-color:whitesmoke;
    color: red;
    padding: 5px 0; /* Ajuste na largura da mensagem para corresponder à largura do botão */
    width: 100%; /* Defina a largura da mensagem igual à largura do botão */
    height: 100%;    
    text-align: center; /* Centraliza o texto horizontalmente */
    border-radius: 5px;
    z-index: 1;
    font-size: 15px;   
}

/*estilo erros tela manutenção*/
#erro-os{
  margin-top: -18px;
  color: red;
  font-size: 10px;
}
#erro-subestacao,
#erro-patrimonio-1,
#erro-patrimonio-2{
  margin-top: 0px;
  color: red;
  font-size: 10px;
}

#erro-selecao-equipamento{
  margin-top: -40px;
  color: red;
  font-size: 10px;
}